header {
  background: rgba(255, 255, 255, 0.2);
  color: $base-font-color;
  font-family: $english-font-family;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  @include mq('sp') {
    display: none;
        }
}
.header-inner {
  height: 80px;
  width: 60%;
  margin: auto;

  @include mq('tab') {
    width: 600px;
        }
}

.header-flex {
  display: flex;
  justify-content: space-around;
}

.header-text {
  padding: 30px 0;

  a{
    transition: all 0.3s ease 0s;
    &:hover{
      border-bottom: 1px solid $btn-border;
    }
  }

  @include mq('tab') {
    font-size: 15px;
        }
}
