// font-color
$base-font-color:#3E3E3E;
$footer-font-color:#E3E3E3;

// color
$base-blue-color:#3B69FF;
$base-lightblue-color:#D8E1FF;
$base-red-color:#FF4646;
$base-orange-color:#FFAA3B;

// bg color
$bg-color-gray:#F3F3F3;

// border
$base-border-color:#CECDCD;

// btn
$btn-border:#707070;
$hover-orange:#F18900;

// shadow
$shadow-color:#3E3E3E33;
$comments-shadow:#00000029;